.App {
  text-align: center;
}

.game-board {
  display: flex;
  flex-direction: row;
  max-width: 700px;
  margin: 5% auto 5% auto;
  justify-content: space-around;
  align-items: center;
  height: 50vh;
}

.shell {
  display: flex;
  flex-direction: column;
  position: relative;
  perspective: 1000px;
  justify-content: center;
  align-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transition: 0.5s;
}

.title {
  font-size: 3rem;
}

p {
  font-size: 2rem;
  margin: 0 0 5px 0;
}

.shell-front,
.shell-back {
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.shell-front {
  background-color: #bbb;
  color: black;
}

.shell-back {
  background-color: burlywood;
  color: white;
  transform: rotateY(180deg);
  transition: 0.5s;
  position: absolute;
  text-align: center;
  right: 0;
  left: 0;
}

.pearl {
  font-size: 4rem;
  margin: auto;
}

@media screen and (max-width: 600px) {
  .shell-front,
  .shell-back {
    height: 100px;
    width: 100px;
  }
}