.App {
  text-align: center;
}

.game-board {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 5% auto 5% auto;
  justify-content: space-around;

}

.shell {
  display: flex;
  flex-direction: column;
  position: relative;
  perspective: 1000px;
  justify-content: center;
  align-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transition: 0.5s;
}

/* .shell:hover {
  transform: rotateY(180deg);

} */

.shell-front,
.shell-back {
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.shell-front {
  background-color: #bbb;
  color: black;
}

.shell-back {
  background-color: burlywood;
  color: white;
  transform: rotateY(180deg);
  transition: 0.5s;
  position: absolute;
  text-align: center;
  right: 0;
  left: 0;
}

.pearl {
  font-size: 4rem;
}